.container {
    text-align: center;
    padding: 20px;
  }
  
  .academia-image {
    border: 2px solid #aaa; /* Ajusta el estilo del borde según tus preferencias */
    border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .reseña {
    margin-top: 20px;
  }
  .title{
    font-size: 28px;
    font-weight: 700;
    text-decoration: overline;
  }
  .senteses{
    font-size: 22px;
    font-weight: 400;
    font-style: oblique;
  }