.title-opciones{
  text-align: center;
  font-weight: 700;
}
mat-list{
    .opcion-item{
      cursor: pointer;
    }
    span{
      font-weight: 500;
    }
}
.contenedor-usuario {
  position: absolute;
  color: white;
  bottom: 100px;
  width: 200px; 
  background-color: #171515; 
  padding: 10px; 
}
