<!-- AQUI VA EL TOOLBAR -->
<app-toolbar (menu)="openMenu()"></app-toolbar>   
<!-- Contenedor principal -->
<mat-drawer-container  class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side" position="end" [opened]="opensidenav">
        <button mat-icon-button (click)="closeMenu()">
            <mat-icon class="close-icon"  type="button" mat-button
              >arrow_forward</mat-icon> 
            </button>
            <!-- Aqui va el sidebar con el menu de opciones -->
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- Contenedor de listado de alumnos, cursos, profesores, inscripciones -->
          <div class="example-sidenav-content" #idDiv>
            <!-- AQUI VAN LAS PAGES DEL DASHBOARD -->       
            <router-outlet></router-outlet>
          </div>
    </mat-drawer-container>



